body {
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

.display-4 {
  font-weight: 700;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
}

.form-control,
.form-select {
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.form-control:focus,
.form-select:focus {
  border-color: #86b7fe;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.btn {
  border-radius: 0.5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary,
.btn-secondary,
.btn-danger,
.btn-warning {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.btn-primary:hover,
.btn-secondary:hover,
.btn-danger:hover,
.btn-warning:hover {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.fixed-height {
  height: 48px; /* Adjust the height value as needed */
}

@media (max-width: 767.98px) {
  .display-4 {
    font-size: 2rem;
  }
}
/* new added */
.centered-text {
  text-align: center;
}

#logout{
  color: aliceblue;
  background: linear-gradient(to bottom, #f33201, #ff9900);
  padding: 5px 10px;
  box-shadow: 2px 2px 4px rgba(5, 235, 5, 0.836);
   border-radius: 10px; 
  cursor: pointer; 
 }